.icon {
  background-color: orangered;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 10px;
  input {
    width: 100%;
    padding: 10px;
  }
  p {
    color: orangered;
  }
  button {
    background-color: orangered;
    color: white;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    transition: all 0.5s;

    &:hover {
      background-color: rgb(139, 45, 10);
    }
  }
}
.linkToLogin {
  text-align: right;
  margin-top: 10px;

  a {
    color: rgb(13, 13, 227);
    font-weight: bold;
    font-size: 20px;
  }
}
