.title {
  color: orange;
  text-align: center;
  margin-bottom: 15px;

  @media screen and (max-width: 992px) {
    margin-top: 50px;
  }
}

.stickDefault {
  background-color: rgb(238, 234, 234);
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.stickVip {
  background-color: orange;
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.stickSoldOut {
  background-color: rgb(80, 78, 78);
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.stickSelected {
  background-color: rgb(9, 133, 27);
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.flex {
  display: flex;
  color: wheat;
}

.colorText {
  color: wheat;
}

.buttonPurchase {
  background-color: rgba(255, 166, 0, 0.768);
  margin: auto;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px transparent;
  font-weight: bold;
  color: wheat;
}

.buttonRemove {
  color: wheat;
  background-color: rgba(242, 47, 12, 0.727);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: transparent;
}

.toggle {
  background-color: transparent;
  border: 1px solid wheat;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 15px;
  color: wheat;
  transition: all 0.3s;

  &:hover {
    background-color: wheat;
    color: black;
  }
}
